@use '/src/app/style/fonts.scss';
@use '/src/app/style/header.scss';
@use '/src/app/style/sections.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #000000;
  --background-start-rgb: #3D8BFF;
  --background-end-rgb: #AB23FF;
}

.title-w-55{
  max-width: 55%;
}

.text-linear-gradient {
  background: -webkit-linear-gradient(left,
  var(--background-start-rgb) 0%,
  var(--background-end-rgb) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hr-linear-gradient{
background: -webkit-linear-gradient(left,
      var(--background-start-rgb) 0%,
      var(--background-end-rgb) 100%);
      border: 0;
      height: 2px;
}


body {
  /* Gradient from top left to bottom right */
  background: linear-gradient(to bottom,
    var(--background-end-rgb) 0%,
    var(--background-start-rgb) 20%,
    var(--foreground-rgb) 99%
  );
  /* For compatibility with older browsers */
  background: -webkit-linear-gradient(top,
  var(--background-end-rgb) 0%,
  var(--background-start-rgb) 20%,
  var(--foreground-rgb) 99%
    );
  /* Ensure the gradient covers the entire viewport */
  height: 100vh;
  margin: 0;
}


.header-bg-img{
  background: url('/assets/header.png') no-repeat;
  background-size: cover;
}


@media only screen and (max-width: 600px) {
  .header-bg-img {
      background: url('/assets/header.png') no-repeat cover;
      min-width: 100vw;
      height: 100%;
    }
}
